@import '/src/index.scss';

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 200;
  background-color: var(--add-color);
  box-shadow: var(--basic-box-shado);
  font-size: 18px;
  font-weight: 600;
  padding: 40px;
}
